root = "."
tmp_dir = "tmp"

[build]
  cmd = "make build"
  bin = "playlist-router"
  args_bin = ["serve", "--dev"]
  delay = 1000
  exclude_dir = ["assets", "tmp", "vendor", "testdata", "pb_data", "internal/static/dist", "web/dist"]
  exclude_file = []
  exclude_regex = ["_test.go"]
  exclude_unchanged = false
  follow_symlink = false
  include_dir = []
  include_ext = ["go", "tpl", "tmpl", "html"]
  include_file = []
  rerun = false
  rerun_delay = 500
  send_interrupt = false
  stop_on_root = false

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  time = false

[misc]
  clean_on_exit = true

[screen]
  clear_on_rebuild = false
  keep_scroll = true