@import "tailwindcss";

@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "forest-orange";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(20.84% 0.008 17.911);
  --color-base-200: oklch(18.522% 0.007 17.911);
  --color-base-300: oklch(16.203% 0.007 17.911);
  --color-base-content: oklch(83.768% 0.001 17.911);
  --color-primary: oklch(70% 0.213 47.604);
  --color-primary-content: oklch(0% 0 0);
  --color-secondary: oklch(76% 0.188 70.08);
  --color-secondary-content: oklch(13.955% 0.027 168.327);
  --color-accent: oklch(60% 0.25 292.717);
  --color-accent-content: oklch(12% 0.042 264.695);
  --color-neutral: oklch(55% 0.163 48.998);
  --color-neutral-content: oklch(86.139% 0.007 171.364);
  --color-info: oklch(72.06% 0.191 231.6);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(64.8% 0.15 160);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(84.71% 0.199 83.87);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(71.76% 0.221 22.18);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 2rem;
  --radius-field: 1rem;
  --radius-box: 0.5rem;
  --size-selector: 0.28125rem;
  --size-field: 0.21875rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}